@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "CursorGothic";
  src: url("/fonts/CursorGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "CursorGothic";
  src: url("/fonts/CursorGothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "CursorGothic";
  src: url("/fonts/CursorGothic-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "CursorGothic";
  src: url("/fonts/CursorGothic-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: optional;
}

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  @apply bg-background dark:bg-background;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --background: oklch(0.953 0 0);
  --foreground: oklch(0.321 0 0);
  --card: oklch(0.968 0 0);
  --card-foreground: oklch(0.321 0 0);
  --popover: oklch(0.968 0 0);
  --popover-foreground: oklch(0.321 0 0);
  --primary: oklch(0.627 0.233 304);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.906 0 0);
  --secondary-foreground: oklch(0.321 0 0);
  --muted: oklch(0.885 0 0);
  --muted-foreground: oklch(0.51 0 0);
  --accent: oklch(0.918 0 0);
  --accent-foreground: oklch(0.321 0 0);
  --destructive: oklch(0.559 0.19 25.86);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9 0 0);
  --input: oklch(0.906 0 0);
  --ring: oklch(0.627 0.233 304);
  --chart-1: oklch(0.489 0 0);
  --chart-2: oklch(0.486 0.036 196);
  --chart-3: oklch(0.653 0 0);
  --chart-4: oklch(0.732 0 0);
  --chart-5: oklch(0.808 0 0);
  --sidebar: oklch(0.968 0 0);
  --sidebar-foreground: oklch(0.321 0 0);
  --sidebar-primary: oklch(0.489 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.918 0 0);
  --sidebar-accent-foreground: oklch(0.321 0 0);
  --sidebar-border: oklch(0.858 0 0);
  --sidebar-ring: oklch(0.489 0 0);
  --font-sans: "CursorGothic", Montserrat, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.2rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(0 0% 20% / 0.1);
  --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-xs: 0px 0px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-sm:
    0px 0px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow:
    0px 0px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow-md:
    0px 0px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
  --shadow-lg:
    0px 0px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
  --shadow-xl:
    0px 0px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 20% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.218 0 0);
  --foreground: oklch(0.885 0 0);
  --card: oklch(0.244 0 0);
  --card-foreground: oklch(0.885 0 0);
  --popover: oklch(0.244 0 0);
  --popover-foreground: oklch(0.885 0 0);
  --primary: oklch(0.627 0.233 304);
  --primary-foreground: oklch(0.218 0 0);
  --secondary: oklch(0.309 0 0);
  --secondary-foreground: oklch(0.885 0 0);
  --muted: oklch(0.285 0 0);
  --muted-foreground: oklch(0.6 0 0);
  --accent: oklch(0.264 0 0);
  --accent-foreground: oklch(0.885 0 0);
  --destructive: oklch(0.659 0.153 22.17);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.294 0 0);
  --input: oklch(0.309 0 0);
  --ring: oklch(0.627 0.233 304);
  --chart-1: oklch(0.706 0 0);
  --chart-2: oklch(0.671 0.034 206.35);
  --chart-3: oklch(0.545 0 0);
  --chart-4: oklch(0.46 0 0);
  --chart-5: oklch(0.372 0 0);
  --sidebar: oklch(0.244 0 0);
  --sidebar-foreground: oklch(0.885 0 0);
  --sidebar-primary: oklch(0.706 0 0);
  --sidebar-primary-foreground: oklch(0.218 0 0);
  --sidebar-accent: oklch(0.264 0 0);
  --sidebar-accent-foreground: oklch(0.885 0 0);
  --sidebar-border: oklch(0.329 0 0);
  --sidebar-ring: oklch(0.706 0 0);
  --font-sans: "CursorGothic", Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.2rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(0 0% 20% / 0.1);
  --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-xs: 0px 0px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-sm:
    0px 0px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow:
    0px 0px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow-md:
    0px 0px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
  --shadow-lg:
    0px 0px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
  --shadow-xl:
    0px 0px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 20% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
