BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
POLAR_ACCESS_TOKEN=
POLAR_SUCCESS_URL=
POLAR_WEBHOOK_SECRET=
POLAR_PRODUCT_ID=
CORS_ORIGIN=
DATABASE_URL=

# OAuth Providers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=